.app-container {
  min-height: 264px;
}

@import "menus";
@import "search";
@import "tooltips";

ul {
  padding-top: 5px;
  margin-left: 0.5em;
}

span.spinner {
  background-image: url('../../dist/assets/spinner.gif');
  background-size: 32px 11px;
  background-repeat: no-repeat;
  width: 32px;
  height: 11px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

p.spinner_text {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 1.5em;
  font-size: italic;
}

.label-warning {
  font-size: 10px;
  padding: 0px 2px 0px 3px;
}

.row-fluid [class*="span"] {
  min-height: 20px;
}

.article-text {
  padding-left: 0.3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  padding-left:none;
}

.brand-filter, .locale-filter {
  margin-bottom: 5px;
}

.brand-logo {
  width: 14px;
  vertical-align: sub;
}

.modal-button {
  float: right;
  position: absolute;
  right: 2em;
}