.c-arrow--l {
  left: auto;
  bottom: auto;
}

.brand-logo + .brand-name {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.brand-logo:hover + .brand-name {
  opacity: 1;
}
